<nav class="navbar navbar-expand-lg bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/public/error.html">Acerca de la empresa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/public/error.html">Ingreso de personal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/public/error.html">Contactos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>