<footer>
  <br>
    <hr>
    <center><h4>Compañia de luz, Derechos reservados, 2023 Luis Alejandro Aria Arenas </h4></center>
    <hr>
    
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>