<%-include('partials/Encabezado.html');%>
<%-include('partials/Menu.html');%>

<div class="container">
    <div class="container">
        <form method="Post" action="/resultados">
        <div class="mb-3">
            <label for="NumContrato" class="form-label">Numero de contrato:</label>
            <input type="number" required class="form-control" id="NumContrato" name="NumContrato"
                placeholder="Numero de contrato" step="any" min="0">
        </div>
        <div class="mb-3">
            <label for="Nombre" class="form-label">Nombre:</label>
            <input type="text" required class="form-control" id="Nombre" name="Nombre" placeholder="Nombre">
        </div>
        <div class="mb-3">
            <label for="Domicilio" class="form-label">Domicilio:</label>
            <input type="text" required class="form-control" id="Domicilio" name="Domicilio" placeholder="Domicilio">
        </div>
        <div class="mb-3">
            <label for="Nivel" class="form-label">Nivel de estudios:</label>
            <select class="form-control"  required id="Nivel" name="Nivel">
                <option value="-1" selected disabled>Seleccione opción</option>
                <option value="1">Licenciatura</option>
                <option value="2">Maestría</option>
                <option value="3">Doctorado</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="PagoBase" class="form-label">Pago diario base:</label>
            <input type="number" required class="form-control" id="PagoBase" name="PagoBase" placeholder="Pago diario base" step="any" min="0">
        </div>
        <div class="mb-3">
            <label for="Dias" class="form-label">Días trabajados:</label>
            <input type="number" required class="form-control" id="Dias" name="Dias" placeholder="Días trabajados" step="any" min="0">
        </div>
        <center><div class="container">
            <button type="submit"  class="btn btn-primary">Calcular</button>
            <button type="reset" class="btn btn-secondary">Limpiar</button>
        </div></center>
    </form>
    </div>
</div>
<%-include('partials/Pie.html');%>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
</html>
