<!DOCTYPE html>
<html lang="en">
<body>
<%-include('partials/Encabezado.html');%>
<%-include('partials/Menu.html');%>
<div id="container">
    <%{  
     let Niveles= "";
      let Subtotal= 0;
      let Impuest= 0;
      let TotalPagar= 0;
      let pagofinal= 0;
      pagofinal= PagoBase * Dias
      if(Nivel==1)
      {
        Subtotal = parseFloat(pagofinal+(pagofinal * 0.20));
        Niveles="Licenciatura";
      }
      else if (Nivel==2)
      {
        Subtotal = parseFloat(pagofinal+(pagofinal * 0.50));
        Niveles="Maestría";
      }
      else if (Nivel==3)
      {
        Subtotal =parseFloat(pagofinal+(pagofinal * 1));
        Niveles="Doctorado";
      }

    Impuesto = Subtotal * 0.16;

      TotalPagar = Subtotal - Impuesto;
    %>
    <div class="mb-3">
        <label for="NumContrato" class="form-label">Contrato:</label>
        <input type="text" class="form-control" readonly id="NumContrato" value="<%=Contrato%>">
    </div>
        <div class="mb-3">
            <label for="Nombre" class="form-label">Nombre:</label>
            <input type="text" class="form-control" readonly id="Nombre" value="<%=Nombre%>">
        </div>
        <div class="mb-3">
            <label for="Nivel" class="form-label">Nivel:</label>
            <input type="text" class="form-control" readonly id="Nivel" value="<%=Niveles%>">
        </div>
        <div class="mb-3">
            <label for="Dias" class="form-label">Dias Trabajados:</label>
            <input type="text" class="form-control" readonly id="Nombre" value="<%=Nombre%>">
        </div>
        <div class="mb-3">
            <label for="PagoBase" class="form-label">Pago diario:</label>
            <input type="text" class="form-control" readonly id="PagoBase" value="<%=PagoBase%>">
        </div>
        <div class="mb-3">
            <label for="Subtotal" class="form-label">Subtotal:</label>
            <input type="text" class="form-control" readonly id="Subtotal" value="<%=Subtotal%>">
        </div>
        <div class="mb-3">
            <label for="Impuesto" class="form-label">Impuesto:</label>
            <input type="text" class="form-control" readonly id="Impuesto" value="<%=Impuesto%>">
        </div>
        <div class="mb-3">
            <label for="TotalPagar" class="form-label">Total a pagar:</label>
            <input type="text" class="form-control" readonly id="TotalPagar" value="<%=TotalPagar%>">
        </div> 
    <%}%>
</div>
</body>
</html>
<%-include('partials/Pie.html');%>